* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;

}

body {
	font-family: Arial, sans-serif;
	background-color: #fff;
}

.dashboard {
    
	display: flex;
	height: 100vh;
}


.sidebar {
	width: 200px;
	background-color: #333;
}


.content {
	padding: 20px;
	flex: 1;
}

.content h1 {
	font-size: 2rem;
	margin-bottom: 10px;
}
.bg{
    color: red;
}
.content p {
	font-size: 1.2rem;
	margin-bottom: 20px;
}
.item {
    position: relative;
    cursor  : pointer;
    overflow: hidden;
}

.layer {
    position  : absolute;
    bottom    : -50%;
    left      : 15px;
    right     : 15px;
    text-align: center;
    opacity   : 0.5;
    transition: all 0.5s;
}

.item:hover .layer{
    bottom: 15px;
    opacity: 1;
}


#boxContainer{
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.2);
    display: none;
    justify-content: center;
    align-items: center;
}

#boxInner{
    width: 50%;
    height: 500px;
    background-image: url(../images/portfolio-4.jpg);
    background-size: cover;
}

#boxInner i {
    cursor: pointer;
}


.home-content{
    
    text-align: center;

}
.home-content p{
    line-height: 1.8;
    padding-bottom: 80px;
}

.home-content button{
    padding-top: 50px;
    text-decoration: none;
    padding: 0.8rem 2.6rem;
    font-weight: 500;
    border-width: 2px;
    border-radius: 50rem!important;
    color: #20c997;
    border-color: #20c997;
    background-color: transparent;
}

img {
    overflow-clip-margin: content-box;
    overflow: clip;
}